/* 
Known Issues: 
+ Headers need to be regularized, but without affecting the preface area: notes, summary, etc. 
+ The link coloration affects my username link. 
+ Links successfully robbed of their underlines in h1. 

*/

table {
  width: 100%;
}

td,
th {
  text-align: center;
  border: 3px solid black;
}

.mono {
  font-family: courier new, courier;
}

.red {
  color: red;
}

.pink {
  color: pink;
}

.caps {
  font-variant: small-caps;
}

a {
  color: teal;
}

/* HEADERS */

h1 {
  font-weight: 500;
  padding: 0.125em;
  border-bottom: 0.25em double #333;
  text-align: left;
}

h2 {
  font-weight: 500;
  padding: 0.125em;
  text-decoration-line: underline;
  text-decoration-style: double;
  border-bottom: 0;
  text-underline-offset: 2px;
}

h3,
h4 {
  font-weight: 500;
  padding: 0.125em;
  text-decoration-line: underline;
  text-decoration-style: double;
  border-bottom: 0;
  text-underline-offset: 3px;
}

.preface h3 {
  font-weight: 500;
  padding: 0.125em;
  border-bottom: 1px solid;
  background: transparent;
  text-decoration: none;
}

/* Still need to fix color of byline in Reference Guide */

/* a.byline,
a:link.byline,
a:visited.byline {
  color: #111;
  text-decoration-line: none;
  text-decoration-style: none;
  border-bottom: 0px;
} */

h3.byline {
  color: #111;
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-style: none;
  border-bottom: 0px solid transparent;
  font-weight: 500;
  padding: 0.125em;
}

.preface h2.title {
  display: block;
  border-bottom: 0;
  clear: right;
  text-decoration: none;
}

/* a h3 {
  color: black;
  text-decoration-line: none;
  text-decoration-style: none;
  border-bottom: 0px;
} */

.img {
  padding: 1em;
}

h1.chapter {
  font-size: 225%;
  border-bottom: 0;
  font-weight: bold;
  text-align: center
}

hr {
  border-top: 5px dotted black;
  border-bottom: 5px dotted black;
  border-left: 0px;
  border-right: 0px;
  padding: 5px;

}

h1 a {
  border-bottom: none;
  text-decoration: none;
}

.preface .userstuff a {
  border-bottom: none;
  text-decoration: none;
}

/* Renaming chapters */

.chapter.preface .title {
  visibility: hidden;
  line-height: 0;
}

#chapter-1 .chapter.preface.group .title::after {
  content: "Table of Contents";
  visibility: visible;
  line-height: 1em;
  display: block;
}

#chapter-2 .chapter.preface.group .title::after {
  content: "Part 1: Reading (and Commenting)";
  visibility: visible;
  line-height: 1em;
  display: block;
}

#chapter-3 .chapter.preface.group .title::after {
  content: "Part 2: Writing (and Formatting)";
  visibility: visible;
  line-height: 1em;
  display: block;
}

#chapter-4 .chapter.preface.group .title::after {
  content: "Part 3: Posting on AO3";
  visibility: visible;
  line-height: 1em;
  display: block;
}

#chapter-5 .chapter.preface.group .title::after {
  content: "Part 4: Writing: AO3 Meta";
  visibility: visible;
  line-height: 1em;
  display: block;
}

#chapter-6 .chapter.preface.group .title::after {
  content: "Part 5: Common Mistakes";
  visibility: visible;
  line-height: 1em;
  display: block;
}

#chapter-7 .chapter.preface.group .title::after {
  content: "Part 6: Britpicking";
  visibility: visible;
  line-height: 1em;
  display: block;
}

#chapter-8 .chapter.preface.group .title::after {
  content: "Part 7: Thorny Questions";
  visibility: visible;
  line-height: 1em;
  display: block;
}

#chapter-9 .chapter.preface.group .title::after {
  content: "Part 8: Education and Life at Hogwarts";
  visibility: visible;
  line-height: 1em;
  display: block;
}

#chapter-10 .chapter.preface.group .title::after {
  content: "Part 9: Law and Disorder";
  visibility: visible;
  line-height: 1em;
  display: block;
}

#chapter-11 .chapter.preface.group .title::after {
  content: "Part 10: Wizardnomics";
  visibility: visible;
  line-height: 1em;
  display: block;
}

#chapter-12 .chapter.preface.group .title::after {
  content: "Part 11: Countries and Nations";
  visibility: visible;
  line-height: 1em;
  display: block;
}