a {
    color: teal;
  }

h1 {
    font-weight: 500;
    padding: 0.125em;
    border-bottom: 0.25em double #333;
}

h2, h3, h4 {
    font-weight: 500;
    padding: 0.125em;
    text-decoration-line: underline;
    text-decoration-style: double;
}

