a {
    color: teal;
  }

h1 {
    font-weight: 500;
    padding: 0.125em;
    border-bottom: 0.25em double #333;
}

h2 {
    font-weight: 500;
    padding: 0.125em;
    text-decoration-line: underline;
    text-decoration-style: double;
    border-bottom: 0;
    text-underline-offset: 2px;
}

h3 {
    font-weight: 500;
    padding: 0.125em;
    text-decoration-line: underline;
    text-decoration-style: double;
    border-bottom: 0;
    text-underline-offset: 3px;
}

/* .chapter.preface.group .title */

/* .summary.module .heading */

h4 {
    font-weight: 500;
    padding: 0.125em;
    border-bottom: 0.25em double #333;
    text-decoration: none;
}

.summary.module .heading {
    font-weight: 500;
    padding: 0.125em;
    border-bottom: 0.25em #333;
    text-decoration: none;
}