header {
  position: sticky;
  top: 0;
  background-color: black;
  color: white;
  padding: 0.5em 1em;
  z-index: 1000;
  border-bottom: 1px solid #444;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav a {
  color: white;
  text-decoration: none;
  margin-left: 1em;
}
nav a:hover {
  color: red;
}

:root {
  --bg: #fff;
  --text: #111;
  --accent: #b22222; /* red */
  --border: #ccc;
  --font-main: 'Inter', sans-serif;
  --font-code: 'Courier New', monospace;
}
body {
  background-color: var(--bg);
  color: var(--text);
  font-family: var(--font-main);
}
a {
  color: var(--accent);
}
a:hover {
  text-decoration: underline;
}
